<style>
	#content {
		margin-top: 100px;
		margin-bottom: 25px;
	}
</style>
<div class="ui main text relaxed container" id="content">
	<h1 class="ui header"><i class="{{game.icon}}"></i> {{game.name}}</h1>
	<ul>
		<li>It's {{stats.counter}} game of this type running.</li>
		<li>One token costs {{game.ticketPrice}} <i class="fab fa-ethereum"></i></li>
		<li>Game starts when {{game.totalTickets}} tokens are sold</li>
		<li>Now {{game.soldTickets}} tokens are sold</li>
		<li>Send Ether to {{game.address}} to buy tokens</li>
	</ul>
	<h2 class="ui header">Previous winners</h2>
		//TODO: 
</div>
